extends ../../layouts/default.pug

block main
    .card-body.products  
        .row 
            h3 Product list
        .row
            .col-4 
            .col-6 
            .col-2 
                a.btn.btn-primary(href = '/admin/account/create' button-create-account) Create
                
        .row
            table  
                thead 
                    tr 
                        th STT
                        th Image 
                        each item in scheme 
                            th #{item}
                        th Update
                tbody
                    each item, index in product 
                        tr.product-record
                            td #{index + 1}
                            td
                                img(class='item-img' src=`/static${item.avatar}`)
                            each prop in scheme 
                                td
                                    p #{item[prop]}
                            td
                                .row.d-flex.justify-content-center.align-items-center
                                    button.btn-action.btn.btn-primary(data-id=item._id button-edit) Edit
                                .row.blank
                                .row.d-flex.justify-content-center.align-items-center
                                    button.btn-action.btn.btn-danger(data-id=item._id button-delete) Delete