extends ../../layouts/default.pug
include ../../mixins/pagination.pug
block main
    .card-body.products  
        .row 
            h3 Product list
        .row
            table  
                thead 
                    tr 
                        th STT
                        th Image 
                        each item in scheme 
                            th #{item}
                        th Update
                tbody
                    each item, index in product 
                        tr.product-record
                            td #{(pagination.currentPage - 1)*pagination.limit + index + 1}
                            td
                                img(class='item-img' src=`/static/${item.imageLink}`)
                            each prop in scheme 
                                td
                                    p #{item[prop]}
                            td
                                .row 
                                    button.btn.btn-primary(data-id=item._id button-edit) Edit 
                                .row 
                                    button.btn.btn-danger(data-id=item._id button-delete) Delete
    if pagination.totalPages > 10
        +pagination-l(pagination)
    else
        +pagination(pagination)
    form(
        action = ''
        method="POST"
        form-delete-item 
        data-path='/admin/product/delete/'
    )